img {
  height: 250px;
  width: 250px;
  margin-top: 20px;
  margin-left: 90px;
  border-radius: 15px;
  transform: scale(1.4);
}
.container {
  border-radius: 10px;
  margin: auto;
  margin-top: 100px;
  position: relative;
  display: flex;
  width: 1000px;
  height: 300px;
  background-color: rgb(1, 86, 58);
}
p {
  color: white;
  font-size: 20px;
  font-family: sans-serif;
  padding-left: 80px;
  padding-right: 20px;
}
.maria {
  padding-top: 50px;
  color: white;
  font-family: sans-serif;
  font-size: larger;
  line-height: 0.1;
}
.Aboutmaria {
  font-size: small;
}
svg {
  size: 1px;
  width: 40px;
  height: 40px;
  background-color: white;
  border-radius: 50%;
  box-shadow: 1px 1px 1px 1px grey;
  align-items: center;
  margin: auto;
}
.icons {
  padding-top: 125px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 940px;
}
.icon1{
  position: absolute;
  left: -20px;
  top:40%;
}
.icon2{
  position: absolute;
  right: -20px;
  top:40%;
}
.btns {
  position: absolute;
  display: flex;
  left: 50%;
  right:50%;
  bottom: -20px;
}
.btn {
  height: 12px;
  width: 12px;
  margin-left: 10px;
  border-radius: 50%;
  border: 2px solid rgb(1, 86, 58);
}
.btn:first-child{
  background-color: rgb(1, 86, 58);
}